.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-content: center;
    align-items: center;
    background-color: #c91619;
    border-radius: 5px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.header-container img{
    width: 80px;
}

.header-container a {
    color: #ffff;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
}